<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NFC-Example.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3E3E4E287A99E15ABAA4D90991A9804A370810B7</string>
				<key>dateExpires</key>
				<string>5/24/25</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6U28RZB8C4.vn.com.prudential.nfcreader</string>
				<key>com.apple.developer.nfc.readersession.formats</key>
				<array>
					<string>NDEF</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>6U28RZB8C4</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>NFC-Example.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>79fc5a9a-e145-4c59-a21a-69b3e209a9b9</string>
				<key>name</key>
				<string>In-house NFC Reader</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6U28RZB8C4</string>
				<key>name</key>
				<string>PRUDENTIAL LIFE INSURANCE VIETNAM CO., LTD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
